.button-regular a {
  display: inline-block;
  background-color: var(--color-primary);
  padding: 0.5em;
  text-decoration: none;
  color: white;
  border: solid 5px var(--color-grey-dark);
  letter-spacing: 2px;
}
