.button-regular {
  background-color: #f2f2f2;
}

.contents .icon-unit {
  background-color: white;
}

.contents .grid {
  max-width: 30em;
}

.button-regular a {
  display: inline-block;
  background-color: var(--color-primary);
  padding: 0.5em;
  text-decoration: none;
  color: white;
  border: solid 5px var(--color-grey-dark);
  letter-spacing: 0.125rem;
  border-radius: none;
  font-style: bold;
}

.button-wrapper {
  margin: auto;
  max-width: 30em;
}


.roles-card {
  min-height: 14em;
  background-color: white;
}

.roles-card h4 {
  display: block;
  background-color: var(--color-primary);
  color: white;
  font-weight: normal;
}

.roles-card p {
  display: block;
}

.button-unit a {
  background-color: var(--color-primary);
  padding: 0.5em;
  text-decoration: none;
  color: white;
  border: solid 5px var(--color-grey-dark);
  letter-spacing: 0.125rem;
  border-radius: none;
  font-style: bold;
}

.icon {
  float: left;
}
